/************* overrides ************/

.card-header {
  background-color: unset !important;
}

/************* overrides ************/


.amountAppreciation {
  color: #155724;
}

.amountDeducted {
  color: #721c24;
}

.sipCardsContainer {
  justify-content: space-evenly;
}

.card.sipCards {
  border: none;
  text-align: center;
}
.card.sipCards.sipForm {
  text-align: left;
}

.card.sipCards.sipForm>.card-body {
  background-color: #F6F8F9;
}

.sipCards.sipForm>.card-header{
  font-size: 30px;
  color: #383838;
  font-weight: 100;
  text-align: center;
}

.sipCards.sipForm>.card-body>form button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sipCards.sipResults {
  margin: 30px 0px;
}

.sipCards.sipResults>.card-header{
  font-size: 20px;
  color: #383838;
  font-weight: 100;
  background-color: unset;
}

.sipCards.sipResults>.card-body{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sipMaturityTimelineTable {
  animation-duration: 2s;
  animation-name: slideIn;
  text-align: center;
}

.table-striped>thead{
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}


.table-striped>tbody>tr:nth-child(1)>td {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

//@keyframes slideIn {
//    from {
//        margin-top: 100%;
//        width: 300%;
//    }
//
//    to {
//        margin-bottom: 0;
//        width: 100%;
//    }
//}